

body {padding-left:230px; background:#fff;}
body.login, body.popup  {padding-left:0px;}

#content { margin:0px;}

#branding {display:none;}
a#logo {display:none;}

/* move breadcrumbs in horizontal bar (user-tools) */
div.breadcrumbs {margin-left:22px; padding-left:0px; background:transparent; position:absolute; top:0px;}

#schnadmin-sidenav {width:230px; position:fixed; left:0; top:0px; background: #666; height:800px;}

#schnadmin-sidenav a {
    padding:22px; display:block; border-bottom:1px solid #555; border-top:1px solid #777;
    color:#ccc !important; font-size:15px; cursor:pointer;
}
#schnadmin-sidenav a:hover {text-decoration:none !important; color:#ddd; background-color:#777; border-top:1px solid #888;}
#schnadmin-sidenav a.schnadmin-sidenav-sub {padding: 12px 12px 12px 44px; border:0px;}
#schnadmin-sidenav a.schnadmin-sidenav-sub:hover {border:0px;}
#schnadmin-sidenav a.schnadmin-sidenav-current {
    background-color: #5BB75B;
    color: #fff !important;
    text-shadow:none;
    background-image: -moz-linear-gradient(top, #96c221, #7ca217);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96c221), to(#7ca217));
    background-image: -webkit-linear-gradient(top, #96c221, #7ca217);
    background-image: -o-linear-gradient(top, #96c221, #7ca217);
    background-image: linear-gradient(to bottom, #96c221, #7ca217);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96c221', endColorstr='#ff7ca217', GradientType=0);
 }
