{% overextends "admin/base_site.html" %}


{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        schnadmin.sidenav.ensure_sidenav_height()
        
        
        $('#schnadmin-sidenav h2').click(function() {
            $(this).next().toggle('blind')
        })
        
    })
    </script>
{% endblock %}

{% block nav-global %}
    {% if user.is_staff %}
        <div id="schnadmin-sidenav">
            {% block sidenav %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}





