{% overextends "admin/base_site.html" %}


{% block extrahead %}
{{ block.super }}


<script type="text/javascript">
$(function() {
    $(window).resize(function() {
        update_sidenav_height()
    })
    var update_sidenav_height = function() {
        $('#schnadmin-sidenav').css('height', $(window).height() + 'px')
    }
    update_sidenav_height()
    
    var url = document.location.pathname
    url += document.location.search
       
    $('#schnadmin-sidenav a').each(function() {
        if($(this).attr('href') === url) {
            $(this).addClass('schnadmin-sidenav-current')
        }
    })
    
    
})
</script>

{% endblock %}

{% block nav-global %}
{% if user.is_staff %}
    <div id="schnadmin-sidenav">
        {% block sidenav %}
        {% endblock %}
    </div>
{% endif %}
{% endblock %}





